<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Banking Products</h1>
            <p class="text-white mt-0 mb-5">Fully coded softwares softwares, dashboards and apps to make your company's job easier . </p>
          </div>
         
          

         
        </div>
        <div class="col-xl-2" style="position: relative; left: 600px;" >
          <a routerLinkActive="active" [routerLink]="['/banking/1/add-product']">
            <img src="./assets/img/icons/upload.png" style="max-width: 100%; padding: 20px;" alt=""> 
            <h5 class="text-white " style="text-align: center; text-transform: uppercase;">Upload New Product </h5>
        </a>
      </div> 
      </div>
      
    </div>
  </div>
</div>
  <!-- Page content -->
  
  <div class="container-fluid mt--7">
   
    <div class="row">
      <div class="col">
        
      
         
              <div class="row">
                <div *ngFor="let product of products"  style="padding: 10px; ">
                <div  class="card" *ngIf="product.catalog == 1 || product.catalog.catalog_id == 1" style="width: 18rem; ">
                  <img class="card-img-top" src="{{product.imagePath}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text" style="height: 70px;" >{{product.description}} </p>
                    <a routerLinkActive="active" [routerLink]="['/details-product',product.product_id]" class="btn btn-warning">More Details</a>
                  </div>
                </div>
             
            </div>
          
          </div>
      
      </div>
      
    </div>
  </div>
  


  
  