<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    
    </div>
  </div>
</div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
        <a routerLinkActive="active" [routerLink]="['/add-product']">
            <button class="btn btn-icon btn-3 btn btn-success" type="button">
                <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                <span class="btn-inner--text ">Add Product</span>
              </button>
            </a>
          </div>
          <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/theme/spring-boot-logo.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLinkActive="active" [routerLink]="['/details-product']" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
